@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Apple ][.ttf') format('truetype');
}

* {
    font-family: "MyFont", serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.title {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    padding: 2rem 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 3vh;
    margin-bottom: 3vh;
}

#config {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: green;
}

.formEntry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    width: 80%;
    height: 8vh;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    background-color: white;
    color: black;
}

.formEntry label {
    margin-left: 1rem;
}

.formEntry input[type=number] {
    margin-right: 1rem;
}

.formBtns{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    gap: 1vh;
}

#grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid black;
    /* transition: 0.2s background-color cubic-bezier(.23, 1, 0.32, 1);  */
}

.state-alive {
    background-color: black;
}

.state-dead {
    background-color: white;
}